<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Patients</title>
</head>
<body>
    <main class="content" layout:fragment="content">
        <section class="dashboard">
            <section class="dashboard-clients">
                <h2>List des factures</h2>
                <div>
                    <table id="caisse-table">
                        <thead>
                        <tr>
                            <th>Nª Facture</th>
                            <th>Nom Patient</th>
                            <th>État</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Date</th>
                            <th>Montant</th>
                            <th>Payé</th>
                            <th>Reste</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="facture : ${factures}">
                            <td th:text="${facture.nFacture}" />
                            <td th:text="${facture.nomComplet}" />
                            <td th:text="${facture.etat}" />
                            <td th:text="${facture.dateCreation}" />
                            <td th:text="${facture.montant}" />
                            <td th:text="${facture.paye}" />
                            <td th:text="${facture.reste}" />
                            <td>
                                <ul>
                                    <li class="icon-edit">
                                        <a href="/">
                                            <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit">
                                        </a>
                                    </li>
                                    <li class="icon-delete">
                                        <a href="/">
                                            <img th:src="@{/img/icons/delete.svg}" alt="delete" title="Delete">
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <section class="graphs">
            <h2>Statistics</h2>
            <section>
                <p>Some weird stuff</p>
            </section>
        </section>

    <script>
        window.addEventListener("load", (event) => {
            let options = {
                searchable: true,
                perPage: 11,
                paging: true,
                perPageSelect: false,
                labels: {
                    placeholder: "Chercher dans la table...",
                    info: 'Affichage de {start} à {end} sur {rows} entrées',
                    noResults: 'Aucun résultat ne correspond à votre requête de recherche',
                    noRows: "Aucune entrée trouvée"
                },
            };

            let dataTable =  new window.simpleDatatables.DataTable("#caisse-table", options);

            dataTable.on("datatable.selectrow", (rowIndex, event) => {
                event.preventDefault();

                console.log(dataTable.data.data[rowIndex]);
                console.log(dataTable.options);
            });
        });
    </script>
</main>
</body>
</html>
