
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Consultation</title>
</head>
<body>
    <main class="content consultation patient-layout" layout:fragment="content">
        <section class="patient-layout-infos">
            <section class="patient-layout-infos--patient">
                <h2>Patient</h2>
                <div th:replace="pages/patient/infos :: info"></div>
            </section>
            <section class="patient-layout-infos--list consultation-infos--list">
                <h2>List des consulations</h2>
                <div>
                    <table id="consultation-table">
                        <thead>
                        <tr>
                            <th>Acte</th>
                            <th>Nª Dent</th>
                            <th>Prix (DH)</th>
                            <th data-type="date" data-format="DD-MM-YYYY">Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="consultation : ${consultations}">
                            <td th:text="${consultation.Acte}" />
                            <td th:text="${consultation.Dent}" />
                            <td th:text="${consultation.prix}" />
                            <td th:text="${consultation.dateAjout}" />
                            <td>
                                <ul>
                                    <li class="icon-edit">
                                        <a th:href="@{/}">
                                            <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit consultation">
                                        </a>
                                    </li>
                                    <li class="icon-delete">
                                        <a th:href="@{/patient/consultation/{id}/delete(id=${id}, idConsultation=${consultation.id})}">
                                            <img th:src="@{/img/icons/delete.svg}" alt="delete" title="Delete consultation">
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </section>
        <section class="consultation-add patient-layout-add">
            <h2>Add Consultation</h2>
            <div>
                <form role="form" method="post" th:action="@{/patient/consultation/{id}(id=${patient.id})}" th:object="${consultationAdd}">
                    <input type="hidden" name="acte" id="acteInput" th:field="*{acte}" />
                    <input type="hidden" name="dent" id="nDentInput" th:field="*{nDent}" />
                    <input type="hidden" name="patientId" th:field="${patient.id}" />
                    <div>
                        <div class="consultation-add--teeth">
                            <img th:src="@{/img/teeth.svg}" alt="teeth schema">
                            <div>
                                <label>Nº Dent<span>*</span></label>
                                <select name="ndent" class="select" id="ndent">
                                    <option disabled selected>Sélectionnez d'abord l'acte</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input id="actes_element" type="hidden" th:value="${actes}" />
                            <label >Acte<span>*</span></label>
                            <select class="select" id="acteList">
                                <option disabled selected>Sélectionnez</option>
                            </select>
                            <textarea class="textarea" placeholder="Notes" th:field="*{noteMedecin}"></textarea>
                            <label for="prixpat">Prix patient</label>
                            <input type="text" id="prixpat" class="main" th:field="*{prixPatient}">
                        </div>

                        <button class="btn-submit">
                                <span>
                                    <img th:src="@{/img/icons/save.svg}" alt="save">
                                </span>
                            Valider
                        </button>
                    </div>
                </form>
            </div>
        </section>


    <script>
        window.addEventListener("load", (event) => {
            let options = {
                searchable: true,
                perPage: 6,
                paging: true,
                perPageSelect: false,
                labels: {
                    placeholder: "Chercher dans la table...",
                    info: 'Affichage de {start} à {end} sur {rows} entrées',
                    noResults: 'Aucun résultat ne correspond à votre requête de recherche',
                    noRows: "Aucune entrée trouvée"
                }
            };

            let dataTable =  new window.simpleDatatables.DataTable("#consultation-table", options);

            dataTable.on("datatable.selectrow", (rowIndex, event) => {
                event.preventDefault();

                console.log(dataTable.data.data[rowIndex]);
                console.log(dataTable.options);
            });

            const actesData = JSON.parse(document.getElementById("actes_element").value);
            console.log(actesData);

            const selectAct = document.getElementById('acteList');
            const selectnDent = document.getElementById('ndent');

            Object.keys(actesData).forEach((acte)=>{
                var opt = document.createElement('option');
                opt.value = acte;
                opt.innerHTML = acte;

                selectAct.appendChild(opt);
            });

            selectAct.addEventListener("change", (e)=>{
                selectnDent.innerHTML = "";
                actesData[selectAct.value].forEach((ndent)=>{
                    var opt = document.createElement('option');
                    opt.value = ndent;
                    opt.innerHTML = ndent;

                    selectnDent.appendChild(opt);
                });

                document.getElementById('acteInput').value = e.target.value;
                document.getElementById('nDentInput').value = actesData[selectAct.value][0];
            });

            selectnDent.addEventListener("change", (e)=>{
                document.getElementById('nDentInput').value = e.target.value;
            });

        });
    </script>

</main>
</body>
</html>
