
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Consultation</title>
</head>
<body>
<main class="content consultation patient-layout" layout:fragment="content">
    <section class="patient-layout-infos">
        <section class="patient-layout-infos--patient">
            <h2>Patient</h2>
            <div>
                <div class="back">
                    <a th:href="@{/patients}">
                        <img th:src="@{/img/icons/back.svg}">
                        Back
                    </a>
                </div>
                <hr>
                <div class="patient-layout-infos--patient_contact">
                    <div class="data">
                        <div>
                            <h5>Theodore Duran</h5>
                            <span>24 ans (13/02/2000)</span>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="tel:0620380996">
                                        <img th:src="@{/img/icons/tel.svg}" alt="tel">
                                        06 20 35 62 45
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:walidfiguig16@gmail.com">
                                        <img th:src="@{/img/icons/mail.svg}" alt="mail">
                                        duran.t@gmail.com
                                    </a>
                                </li>
                                <li>
                                            <span>
                                                <img th:src="@{/img/icons/medic-doc.svg}" alt="medic">
                                                Anomalies Dentaires, Cardiovasculaires
                                            </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="buttons">
                        <ul>
                            <li class="icon-profile">
                                <a href="/">
                                    <img th:src="@{/img/icons/ion_eye.svg}" alt="eye" title="Profile de patient">
                                </a>
                            </li>
                            <li class="icon-profile">
                                <a th:href="@{/patient/consultation/2}">
                                    <img th:src="@{/img/icons/consultation.svg}" alt="coins" title="Situation Financière">
                                </a>
                            </li>
                            <li class="icon-edit">
                                <a href="/">
                                    <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit patient">
                                </a>
                            </li>
                            <li class="icon-delete">
                                <a href="/">
                                    <img th:src="@{/img/icons/delete.svg}" alt="trash" title="Delete patient">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <section class="patient-layout-infos--list consultation-infos--list">
            <h2>List des consulations</h2>
            <div>
                <table id="sf-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ext.</th>
                        <th>City</th>
                        <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                        <th>Completion</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Unity Pugh</td>
                        <td>9958</td>
                        <td>Curicó</td>
                        <td>2005/02/11</td>
                        <td>37%</td>
                        <td>
                            <ul>
                                <li class="icon-edit">
                                    <a th:href="@{/}">
                                        <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit consultation">
                                    </a>
                                </li>
                                <li class="icon-delete">
                                    <a th:href="@{/}">
                                        <img th:src="@{/img/icons/delete.svg}" alt="delete" title="Delete consultation">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <section class="patient-layout-add sf-add">
        <h2>Add Facture</h2>
        <div>
            <form action="">
                <div>
                    <label>Select consultations</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="check1">
                            <label for="check1">
                                <div>
                                    23/05/2023
                                </div>
                                <div>
                                    Chirurgie buccale
                                </div>
                            </label>
                        </li>
                    </ul>
                    <label>État</label>
                    <select  class="select">
                        <option value="">Non-Payé</option>
                        <option value="">Payé</option>
                    </select>
                    <label for="sommepaye">Somme payé</label>
                    <input type="text" id="sommepaye" class="main">
                </div>
                <button class="btn-submit">
                            <span>
                                <img th:src="@{/img/icons/save.svg}" alt="save">
                            </span>
                    Valider
                </button>

            </form>
            <div>
                <hr>
                <div>
                    <span>Total</span>
                    <span>500.0 <span>DH</span></span>
                </div>
                <div>
                    <div>
                        <span>Payé</span>
                        <span>350.0 <span>DH</span></span>
                    </div>
                    <div>
                        <span>Reste</span>
                        <span>150.0 <span>DH</span></span>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div>
                <div>
                    <h4>Payé</h4>
                    <span>5 <span>Factures</span></span>
                </div>
                <p>3050.0 DH</p>
            </div>
            <div>
                <div>
                    <h4>Non payé</h4>
                    <span>1 <span>Facture</span></span>
                </div>
                <p>250.0 DH</p>
            </div>
        </section>
    </section>


    <script>
        window.addEventListener("load", (event) => {
            let options = {
                searchable: true,
                perPage: 11,
                paging: true,
                perPageSelect: false,
                searchable: false,
                labels: {
                    placeholder: "Chercher dans la table...",
                    info: 'Affichage de {start} à {end} sur {rows} entrées',
                    noResults: 'Aucun résultat ne correspond à votre requête de recherche',
                    noRows: "Aucune entrée trouvée"
                }
            };

            let dataTable =  new window.simpleDatatables.DataTable("#sf-table", options);

            document.getElementsByClassName(dataTable.options.classes.top)[0].style.display = "none";


            dataTable.on("datatable.selectrow", (rowIndex, event) => {
                event.preventDefault();

                console.log(dataTable.data.data[rowIndex]);
                console.log(dataTable.options);
            });
        });
    </script>

</main>
</body>
</html>
