
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Facture</title>
</head>
<body>
<main class="content consultation patient-layout" layout:fragment="content">
    <section class="patient-layout-infos">
        <section class="patient-layout-infos--patient">
            <h2>Patient</h2>
            <div th:replace="pages/patient/infos :: info(pageInfos='sf')"></div>
        </section>
        <section class="patient-layout-infos--list consultation-infos--list" >
            <h2>List des factures</h2>
            <div>
                <table id="sf-table">
                    <thead>
                    <tr>
                        <th>Nº Facture</th>
                        <th>Etat</th>
                        <th>Mantant (DH)</th>
                        <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                        <th data-sortable="false"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="facture: ${factures}">
                        <td th:text="${facture.nFacture()}" />
                        <td th:text="${facture.etat()}" />
                        <td th:text="${facture.total()}" />
                        <td th:text="${facture.dateCreation()}" />
                        <td>
                                <ul th:if="${facture.etat.name} == 'NonPaye'">
                                    <li class="icon-edit">
                                        <a th:href="@{/patient/finance/{id}(id=${patient.id}, factureId=${facture.nFacture}, isEdit=true)}">
                                            <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit consultation">
                                        </a>
                                    </li>

                                    <li class="icon-delete">
                                        <a th:href="@{/}">
                                            <img th:src="@{/img/icons/delete.svg}" alt="delete" title="Delete consultation">
                                        </a>
                                    </li>
                                </ul>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </section>
    </section>
    <section class="patient-layout-add sf-add">
        <h2><th:block  th:text="${editMode} ? 'Edit' : 'Add'" /> Facture</h2>
        <div th:with="factureDto = ${editMode} ? ${factureUpdateDto} : ${factureAddDto}">
            <form th:action="@{/patient/finance/{id}(id=${patient.id})}" method="post"
                  th:object="${factureDto}">
                <input th:type="hidden" th:if="${factureId} != null" th:name="factureId" th:value="${factureId}" />
                <input th:type="hidden" th:if="${editMode} != null" th:name="editMode" th:value="${editMode}" />
                <div>
                    <label>Select consultations</label>
                    <ul>
                        <li th:each="consultation : ${editMode} ? ${consultations} : ${consultationNP}">
                            <input type="checkbox"
                                   th:id="'check' + ${consultation.id}"
                                   th:name="consultationIds"
                                   th:value="${consultation.id}"
                                   th:data-price="${consultation.prixConsultation}"
                                   th:attr="disabled=${editMode}"
                                   th:checked="${editMode}" />

                            <label th:for="'check' + ${consultation.id}">
                                <div th:text="${consultation.dateAjout}"></div>
                                <div th:text="${consultation.NomActe}"></div>
                            </label>
                        </li>
                    </ul>

                    <label>État</label>
                    <select id="etat" name="etat" class="select" required onchange="toggleSommePaye()">
                        <option value="NonPaye">Non-Payé</option>
                        <option value="Paye">Payé</option>
                    </select>

                    <label for="sommepaye">Somme payé</label>
                    <input type="text" id="sommepaye" name="prixPaye" class="main" required>
                </div>
                <button class="btn-submit">
                <span>
                    <img th:src="@{/img/icons/save.svg}" alt="save">
                </span>
                    Valider
                </button>
            </form>
            <div>
                <hr>
                <div>
                    <span>Total</span>
                    <span>
                    <span th:id="totalPrice" th:text="${editMode} ? ${totalFacture} : 0.0"></span> <span>DH</span>
                </span>
                </div>
                <div th:if="${editMode}">
                    <div>
                        <span>Payé</span>
                        <span th:if="${totalPayee != null and totalPayee != ''}" th:id="paye" th:data-price="${totalPayee}" th:text="${totalPayee} + ' DH'"></span>
                    </div>
                    <div>
                        <span>Reste</span>
                        <span th:if="${totalReste != null and totalReste != ''}" th:id="reste" th:data-price="${totalReste}" th:text="${totalReste} + ' DH'"></span>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div>
                <div>
                    <h4>Payé</h4>
                    <span><th:block th:text="${coutFacturePayee}" /> <span>Factures</span></span>
                </div>
                <p th:text="${sumFacturePayee}"> DH</p>
            </div>
            <div>
                <div>
                    <h4>Non payé</h4>
                    <span><th:block th:text="${coutFactureNonPayee}" /> <span>Facture</span></span>
                </div>
                <p th:text="${sumFactureNonPayee}"> DH</p>
            </div>
        </section>
    </section>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const isEdit = /*[[${editMode}]]*/ 'default';

        /*]]>*/
    </script>


    <script>
        function toggleSommePaye() {
            var etat = document.getElementById("etat").value;
            var sommePayeInput = document.getElementById("sommepaye");

            if (etat === "Paye") {
                var total = 0;
                var checkboxes = document.querySelectorAll('input[name="consultationIds"]:checked');

                checkboxes.forEach(function (checkbox) {
                    total += parseFloat(checkbox.getAttribute('data-price')) || 0;
                });

                sommePayeInput.disabled = true;
            } else {
                sommePayeInput.disabled = false;
                sommePayeInput.value = '';
            }
        }

        window.addEventListener("load", (event) => {

            let options = {
                searchable: true,
                perPage: 11,
                paging: true,
                perPageSelect: false,
                searchable: false,
                labels: {
                    placeholder: "Chercher dans la table...",
                    info: 'Affichage de {start} à {end} sur {rows} entrées',
                    noResults: 'Aucun résultat ne correspond à votre requête de recherche',
                    noRows: "Aucune entrée trouvée"
                },
                columns:[{
                    select: 1,
                    filter: ["Paye", "NonPaye"]
                }]
            };

            let dataTable = new window.simpleDatatables.DataTable("#sf-table", options);

            document.getElementsByClassName(dataTable.options.classes.top)[0].style.display = "none";


            dataTable.on("datatable.selectrow", (rowIndex, event) => {
                event.preventDefault();

                console.log(dataTable.data.data[rowIndex]);
                console.log(dataTable.options);
            });


            const checkboxes = document.querySelectorAll('input[name="consultationIds"]');
            const total = document.getElementById("totalPrice");
            const sommepaye = document.getElementById("sommepaye");
            let currentPrice = 0;

            checkboxes.forEach(checkbox=>{
                checkbox.addEventListener("change", (e)=>{
                    if(e.target.checked){
                        currentPrice += e.target.dataset.price - 0;
                    }else{
                        currentPrice -= e.target.dataset.price;
                    }
                    total.innerText = currentPrice;
                });
            });

            if (isEdit){
                const rest = document.getElementById("reste");
                const paye = document.getElementById("paye");

                let restAPaye = rest.dataset.price;
                let payeDeja = paye.dataset.price;

                sommepaye.addEventListener("input", (e)=>{
                    rest.innerText = restAPaye - e.target.value;
                    paye.innerText = payeDeja - (-e.target.value);

                    rest.innerText += ".0 DH";
                    paye.innerText += ".0 DH";
                });
            }
        });


    </script>

</main>
</body>
</html>