
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Consultation</title>
</head>
<body>
<main class="content consultation patient-layout" layout:fragment="content">
    <section class="patient-layout-infos">
        <section class="patient-layout-infos--patient">
            <h2>Patient</h2>
            <div th:replace="pages/patient/infos :: info"></div>
        </section>
        <section class="patient-layout-infos--list consultation-infos--list">
            <h2>List des consulations</h2>
            <div>
                <table id="sf-table">
                    <thead>
                    <tr>
                        <th>N Facture</th>
                        <th>Etat</th>
                        <th>Mantant (DH)</th>
                        <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="facture: ${factures}">
                        <td th:text="${facture.nFacture()}" />
                        <td th:text="${facture.etat()}" />
                        <td th:text="${facture.total()}" />
                        <td th:text="${facture.dateCreation()}" />
                        <td>
                            <ul>
                                <li class="icon-edit">
                                    <a th:href="@{/}">
                                        <img th:src="@{/img/icons/edit.svg}" alt="edit" title="Edit consultation">
                                    </a>
                                </li>
                                <li class="icon-delete">
                                    <a th:href="@{/}">
                                        <img th:src="@{/img/icons/delete.svg}" alt="delete" title="Delete consultation">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <section class="patient-layout-add sf-add">
        <h2>Add Facture</h2>
        <div>
            <form th:action="@{/patient/finance/{id}(id=${patient.id})}" method="post" th:object="${factureAddDto}">
                <div>
                    <label>Select consultations</label>
                    <ul>
                        <li th:each="consultation : ${consultationNP}">
                            <input type="checkbox" th:id="'check' + ${consultation.id}" th:name="consultationIds" th:value="${consultation.id}" th:data-price="${consultation.prixConsultation}">
                            <label th:for="'check' + ${consultation.id}">
                                <div th:text="${consultation.dateAjout}"></div>
                                <div th:text="${consultation.NomActe}"></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>État</label>
                    <select id="etat" name="etat" class="select" required onchange="toggleSommePaye()">
                        <option value="NonPaye">Non-Payé</option>
                        <option value="Paye">Payé</option>
                    </select>
                </div>
                <div>
                    <label for="sommepaye">Somme payé</label>
                    <input type="text" id="sommepaye" name="prixPaye" class="main" required>
                </div>
                <button class="btn-submit">
                <span>
                    <img th:src="@{/img/icons/save.svg}" alt="save">
                </span>
                    Valider
                </button>
            </form>
            <div>
                <hr>
                <div>
                    <span>Total</span>
                    <span>500.0 <span>DH</span></span>
                </div>
                <div>
                    <div>
                        <span>Payé</span>
                        <span>350.0 <span>DH</span></span>
                    </div>
                    <div>
                        <span>Reste</span>
                        <span>150.0 <span>DH</span></span>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div>
                <div>
                    <h4>Payé</h4>
                    <span th:text="${coutFacturePayee}"><span>Factures</span></span>
                </div>
                <p th:text="${sumFacturePayee}"> DH</p>
            </div>
            <div>
                <div>
                    <h4>Non payé</h4>
                    <span th:text="${coutFactureNonPayee}"><span>Facture</span></span>
                </div>
                <p th:text="${sumFactureNonPayee}"> DH</p>
            </div>
        </section>
    </section>


    <script>
        function toggleSommePaye() {
            var etat = document.getElementById("etat").value;
            var sommePayeInput = document.getElementById("sommepaye");

            if (etat === "Paye") {
                var total = 0;
                var checkboxes = document.querySelectorAll('input[name="consultationIds"]:checked');

                checkboxes.forEach(function(checkbox) {
                    total += parseFloat(checkbox.getAttribute('data-price')) || 0;
                });

                sommePayeInput.value = total;
                sommePayeInput.disabled = true;
            } else {
                sommePayeInput.disabled = false;
                sommePayeInput.value = '';
            }
        }

        window.addEventListener("load", (event) => {
            let options = {
                searchable: true,
                perPage: 11,
                paging: true,
                perPageSelect: false,
                searchable: false,
                labels: {
                    placeholder: "Chercher dans la table...",
                    info: 'Affichage de {start} à {end} sur {rows} entrées',
                    noResults: 'Aucun résultat ne correspond à votre requête de recherche',
                    noRows: "Aucune entrée trouvée"
                }
            };

            let dataTable =  new window.simpleDatatables.DataTable("#sf-table", options);

            document.getElementsByClassName(dataTable.options.classes.top)[0].style.display = "none";


            dataTable.on("datatable.selectrow", (rowIndex, event) => {
                event.preventDefault();

                console.log(dataTable.data.data[rowIndex]);
                console.log(dataTable.options);
            });
        });
    </script>

</main>
</body>
</html>